nav ol li a {
  color: #20283d;
  background-color: #e5b083;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.01rem;;
}

nav ol li a:hover {
  background-color: #42635d;
  color: #fbf7f3;
}
/* I added a border with radians to each sequence element and added hover.
When the user moves the mouse over a line header of a sequence element, 
different background and font colors appear. */

#mode-button{
  background-color: transparent;
  border: 0;
  color: var(--col-01);
  text-decoration: none;
  cursor: default;
}